@import "stylesheet.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #F9F1DE;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

#allLettersDiv {
  width: 80%;
  height: 70vh;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(9, minmax(0px, 1fr));
  margin-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
  #allLettersDiv {
    grid-template-columns: repeat(8, minmax(0px, 1fr));
  }
}

@media only screen and (max-width: 1150px) {
  #allLettersDiv {
    grid-template-columns: repeat(7, minmax(0px, 1fr));
  }
}

@media only screen and (max-width: 1100px) {
  #allLettersDiv {
    grid-template-columns: repeat(6, minmax(0px, 1fr));
  }
}

@media only screen and (max-width: 1050px) {
  #allLettersDiv {
    grid-template-columns: repeat(5, minmax(0px, 1fr));
  }
  #allLettersDiv {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 800px) {
  #titleDiv {
    width: 250px !important;
  }
}

@media only screen and (max-width: 750px) {
  #allLettersDiv {
    padding: 0 60px;
  }
}

@media only screen and (max-width: 700px) {
  #allLettersDiv {
    grid-template-columns: repeat(4, minmax(0px, 1fr));
  }
  #allLettersDiv {
    padding: 0 70px;
  }
}

@media only screen and (max-width: 560px) {
  #allLettersDiv {
    grid-template-columns: repeat(3, minmax(0px, 1fr));
  }
  #allLettersDiv {
    padding: 0 75px;
  }
}

.letterDiv {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 65px;
  color: #9C1F2A;
  font-family: 'Armcaps Unicode';
  margin: 0 20px;
}

.letterDiv:hover {
  background-image: url('patternn-04.svg');
  background-position: center;
  cursor: default;
  background-size: cover;
  font-size: 50px;
  transform: scale(1.7);
}

.sidePattern {
  position: fixed;
  height: 660px;
}

#leftPattern {
  left: 0;
}

#rightPattern {
  right: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#titleDiv {
  font-family: 'Bokonique';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #72031A;
  text-shadow: -4px 1px #947C5A;
  text-align: center;
}
